Options -Indexes
RewriteEngine On
RewriteBase /mjcc/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

<FilesMatch "\.(sql|log|env|ini|sh)$">
    Order deny,allow
    Deny from all
</FilesMatch>
